body {
    background-image: url('https://apod.nasa.gov/apod/image/2301/jwst-ngc346-800.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    font-weight: 500;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 0.75rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h6 {
    font-size: 0.5rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

header,
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    height: 60px;
    background-color: #000000e0;
    color: #ffffff;
    gap: 5rem;
    wrap: no-wrap;
}

.scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 50px;
    padding: 2rem;
    margin: 2rem;
    box-sizing: border-box;
    height: 60px;
    background-color: #00000000;
    color: #ffffff;
}

.score-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    border-radius: 50px;
    padding: 2rem;
    margin: 2rem;
    box-sizing: border-box;
    height: 60px;
    background-color: #000000d2;
    color: #ffffff;
}

.welcome-popup {
    background-color: #ffffff;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 9999;
    padding: 2rem;
    gap: 1rem;
    box-sizing: border-box;
    min-height: 50vh;
}

.loading-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff00;
    padding: 20px;
    border-radius: 5px;
    z-index: 9999;
}

.loading-logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    animation: spin 10s linear infinite;
}

.loading-bar {
    height: 10px;
    width: 100%;
    background-color: #000000b9;
    border-radius: 5px;
    margin: 20px 0;
    position: relative;
    overflow: hidden;
}

.loading-bar-fill {
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes mirrorX {
    0% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(-1);
    }
}

.primary-btn {
    background-color: #000000b9;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.primary-btn:hover {
    background-color: #000000;
    color: #ffffff;
    transform: scale(1.05);
}

main {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.content {
    padding: 0.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-auto-rows: minmax(15rem, auto);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    max-width: 900px;
    grid-auto-flow: dense;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffffb6;
    border: solid 1px #cccccc36;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    padding: 1rem;
    margin: 1rem;
    box-sizing: border-box;
    align-self: stretch;
    gap: 1rem;
    min-width: 12rem;
    cursor: pointer;
}

.card:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
    transform: scale(1.05);
}

.card:clicked {
    border: solid 1px #66121236;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
    transform: scale(1.05);
}

.card-img {
    display: flex;
    justify-content: center;
    width: 10rem;
    height: 10rem;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}


.right {
    justify-content: flex-end;
}

.left {
    justify-content: flex-start;
}

.top {
    align-items: flex-start;
}

.bottom {
    align-items: flex-end;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

a {
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}